numpy
pandas
matplotlib==3.10
scikit-learn==1.6.1
pyarrow==19.0.1
torch
torchvision
pytorch-lightning
lightning
litdata
tensorboardX
timm==1.0.15
transformers==4.49.0
typer
opencv-python==4.11.0.86
scikit-image==0.25.2
# faiss-gpu==1.7.2
faiss-cpu==1.10.0
tqdm==4.67.1
gdown==5.2.0
boto3

# developer tools
jupyter
jupyter-contrib-nbextensions
jupyterlab==4.3.5
notebook
traitlets
ipykernel
ruff==0.9.9
pre-commit==4.1.0
pytest==8.3.4
xmltodict==0.14.2
ipywidgets
